POSTGRES_DB=hramgo
POSTGRES_USER=hramgo
POSTGRES_PASSWORD=replace-with-strong-password
NEXTAUTH_SECRET=replace-with-strong-random-secret-at-least-32-chars
NEXTAUTH_URL=https://hramgo.ru
APP_DOMAIN=https://hramgo.ru
USE_DEMO_DATA=false
REVIEW_MODERATION_REQUIRED=true
AUTO_APPROVE_SAFE_REVIEWS=false
ROBOKASSA_MERCHANT_LOGIN=
ROBOKASSA_PASSWORD_1=
ROBOKASSA_PASSWORD_2=
ROBOKASSA_HASH_ALGORITHM=md5
ROBOKASSA_IS_TEST=false
MIN_SUPPORT_AMOUNT_RUB=
MAX_SUPPORT_AMOUNT_RUB=
RETURN_REQUEST_REVIEW_DAYS=
RETURN_PAYMENT_DAYS=
ROBO_RECEIPT_ITEM_NAME=
LEGAL_FULL_NAME=Семенов Алексей Витальевич
LEGAL_INN=301612256922
SUPPORT_EMAIL=hram-go@yandex.ru
SUPPORT_PHONE=
LEGAL_ADDRESS=
