POSTGRES_DB=hramgo
POSTGRES_USER=hramgo
POSTGRES_PASSWORD=replace-with-strong-password
NEXTAUTH_SECRET=replace-with-strong-random-secret-at-least-32-chars
NEXTAUTH_URL=https://hramgo.ru
APP_DOMAIN=https://hramgo.ru
USE_DEMO_DATA=false
REVIEW_MODERATION_REQUIRED=true
AUTO_APPROVE_SAFE_REVIEWS=false
YOOKASSA_SHOP_ID=1388625
YOOKASSA_SECRET_KEY=
YOOKASSA_RECEIPT_ITEM_NAME=
YOOKASSA_LEGAL_ID=LB0003357423
YOOKASSA_SBP_MERCHANT_ID=MB0002928350
YOOKASSA_MCC=9999
MIN_SUPPORT_AMOUNT_RUB=
MAX_SUPPORT_AMOUNT_RUB=
RETURN_REQUEST_REVIEW_DAYS=
RETURN_PAYMENT_DAYS=
LEGAL_FULL_NAME=Семенов Алексей Витальевич
LEGAL_INN=301612256922
SUPPORT_EMAIL=hram-go@yandex.ru
SUPPORT_PHONE=
LEGAL_ADDRESS=
